.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #409EFF;
}

.body-panel {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eaeaea;
}

.sub-menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #fff;
    border-right: 1px solid #E4E7ED;
}

.subapp-panel {
    position: absolute;
    top: 0;
    left: 200px;
    right: 0;
    bottom: 0;
    margin: 20px 25px 60px;
    border-radius: 4px;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}

footer {
    position: absolute;
    left: 200px;
    right: 0;
    bottom: 0;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    line-height: 60px;
    font-size: 14px;
    color: #eaeaea;
}

.logo {
    padding: 0 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
    width: 200px;
    box-sizing: border-box;
    text-align: center;
}

.main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu-item {
    padding: 0 20px;
    cursor: pointer;
}
.main-menu-item.active {
    color: #fff;
    background-color: #057fff
}

.main-menu-item:hover {
    color: #fff;
    background-color: #71b6fe;
}

.logout {
    padding: 0 20px;
    margin-left: auto;
    text-decoration: none;
    color: #eaeaea;
}

.logout:hover {
    color: #fff;
    background-color: #71b6fe;
}
.sub-menu-body {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}
.sub-menu-item {
    text-align: center;
    padding: 0;
    margin: 0;
    height: 56px;
    line-height: 56px;
    font-size: 14px;
    color: #303133;
    cursor: pointer;
}
.sub-menu-item.active {
    color: #409eff;
}
.sub-menu-item:hover {
    outline: none;
    background-color: #ecf5ff;
}